{% extends 'base.html.twig' %}


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            .w-80 {
                width: 85%;
                margin: 0 auto; /* Para centrar el contenido horizontalmente */
            }
        </style>
    {% endblock %}

{% block body %}
<div class="w-80 mt-3">
  <p></p>
  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#demo"> Realizar búsquedas</button> 
  
  <div id="demo" class="collapse">
    <div >
      <div class="col">
        {{ form_start(buscar) }}
        {{ form_row(buscar.dni, {'label': 'DNI'}) }}
       
      </div>
      <div>
        
        {{ form_row(buscar.startDate, {'label': 'Fecha de inicio'}) }}
        {{ form_row(buscar.endDate, {'label': 'Fecha de fin'}) }}
        {{ form_widget(buscar._token) }}
        {{ form_end(buscar) }}

        
      </div>
    </div>
  </div>
</div>
    
{# tabla #}
<div class="w-80">
    <div class="table-responsive">
        <table class="table nowrap hover row-border order-column">
            <thead>
                <tr>
                    <th>Pago</th>
                    <th>Estudiante</th>
                    <th>Curso</th>
                    <th>Monto Total</th>
                    <th>Monto Cuota</th>
                    <th>Números Ticket</th>
                    <th>Ticket</th>
                    <th>Fecha</th>

                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                    {% for detalle in pago.pagoDetalles %}
                        <tr>
                            <td>{{ pago.id }}</td>
                            <td>{{ pago.user.dni }}: {{ pago.user.apellido }}</td>
                            <td>{{ pago.curso.id }}: {{ pago.curso.nombre }}</td>
                            <td>{{ pago.monto }}</td>
                            <td>{{ detalle.montoCuotas }}</td>
                            <td>{{ detalle.numeroTicket }}</td>
                            <td>{% if detalle.imageName is not null %}
                        <a href="{{ asset('archivos/comprobantes/' ~ detalle.imageName) }}" target="_blank">Ver archivo</a>
                    {% else %}
                        No se ha cargado ningún archivo.
                    {% endif %}</td>
                            <td>{{ pago.createdAt |date('d-m-Y')}}</td>

                            <td>{{ detalle.observacion ?: 'N/A'}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-info btn-sm" href={{ path('reporte_pago') }}>Volver</a>
    </div>
</div>
{% endblock %}

