
{# {% extends '@EasyAdmin/page/content.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block page_actions %}
   {# <a class="btn btn-success" href="{{'admin'}}">Volver</a>#}
     
{% endblock %}


{% block content_title %}Cambiar contraseña{% endblock %}

{% block main %}
        
        {{ form_start(form) }}
            {{ form_row(form.currentPassword) }}
            {{ form_row(form.newPassword) }}
            {{ form_row(form.confirmPassword) }}
            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        {{ form_end(form) }}
   
{% endblock %}