{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
	<link rel="stylesheet" href="{{ asset('front/css/base.css') }}">
{% endblock head_stylesheets %}

{% block head_javascript %}
	{{parent()}}
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
	<script src="{{asset('front/js/base.js')}}" type="text/javascript"></script>
	<script src="{{asset('front/js/notificaciones.js')}}" type="text/javascript"></script>
	
{% endblock head_javascript %}

{% block content_footer_wrapper %}
    {% block content_footer %}
		<footer class="d-flex flex-wrap justify-content-between align-items-center border-top footer-escritorio">
			<p class="col-md-4 mb-0 text-muted">© 202 GCP - Gestión Comprobantes de Pagos.</p>
			<p class="col-md-4 mb-0 text-muted">Contacto: desarrollo.gcp.2023@gmail.com</p>
		</footer>
    {% endblock %}
{% endblock %}

{% block body_javascript %}
{{ parent() }}
	<script>
		let urlBase = window.location.href;
		$(document).ready( function () {
			//asi detectamos si se ejecuta en un disposivo mobile
			if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || 
				navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || 
				navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) ||
				navigator.userAgent.match(/Windows Phone/i)
			){
				$("footer").removeClass("footer-escritorio");
				$("footer").addClass("footer-mobile");
				if(urlBase.includes('routeName=change_password') || urlBase.includes('routeName=xlsx') ){
					$("footer").css('position', 'absolute');
				}
			}
		});
	</script>
{% endblock body_javascript %}
