{# {% extends '@EasyAdmin/page/content.html.twig' %} #}
{% extends 'base.html.twig' %}
{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
{% endblock head_stylesheets %}

{% block head_javascript %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
{% endblock head_javascript %}

{% block content_title %}Mis Informes de Pagos{% endblock %}
{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Accion</a> #}
{% endblock %}

{% block main %}

    {# las class son de la libreria de DataTable: https://datatables.net/manual/ #}
    <table id="tablaPagos" class="nowrap hover row-border order-column">
        <thead>
            <tr>
                <td><strong>ID Pago</strong></td>
                <td><strong>Curso</strong></td>
                <td><strong>Observaciones</strong></td>
                <td><strong>Monto</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
                {% 
                    set url_show_pago = ea_url()
                        .setController('App\\Controller\\Admin\\PagoCrudController')
                        .setAction('detail')
                        .setEntityId(pago.id)
                %}
                {% 
                    set url_edit_pago = ea_url()
                        .setController('App\\Controller\\Admin\\PagoCrudController')
                        .setAction('obtenerIdCurso')
                        .set('idPago', pago.id)
                        .set('idCurso', pago.curso.id)
                        .set('accionEditar', 'editar')
                %}
                <tr>
                    <td class="idPago">{{pago.id}}</td>
                    <td class="curso">{{pago.curso}}</td>
                    <td class="obs">{{pago.observacion}}</td>
                    <td class="monto">{{pago.monto}}</td>
                    <td class="botones">
                        <a class="btn btn-success" href={{url_show_pago}} >Ver</a>
                        <a class="btn btn-primary" href={{url_edit_pago}}>Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            //preparo la vista para mobile sin dataTable
            if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || 
                navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || 
                navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) ||
                navigator.userAgent.match(/Windows Phone/i)
            ){
                $( "#tablaPagos" ).removeClass( "nowrap hover row-border order-column" ).addClass( "datagrid" );

                $( ".idPago" ).text(function(index, element){
                    this.innerHTML = "<strong>ID: </strong>" + element;
                });
                $( ".curso" ).text(function(index, element){
                    this.innerHTML = "<strong>Curso: </strong>" + element;
                });
                $( ".obs" ).text(function(index, element){
                    this.innerHTML = "<strong>Obs: </strong>" + element;
                });
                $( ".monto" ).text(function(index, element){
                    this.innerHTML = "<strong>Monto: </strong>" + element;
                });
            }else{
                //si no es mobile utilizo datatable para paginado y otras funciones
                $('#tablaPagos').DataTable({
                    searching: true,
                    language: {
                        search: "Buscar: ",
                        lengthMenu: "Ver _MENU_ registros",
                        info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        loadingRecords: "Cargando...",
                        paginate: {
                            first: "Inicio",
                            last: "Fin",
                            next: "Siguiente",
                            previous: "Anterior"
                        },
                    },
                    scrollY: true,
                });
            }
        });
    </script>
{% endblock body_javascript %}