{# {% extends '@EasyAdmin/page/content.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block content_title %}Mis Cursos{% endblock %}
{% block page_actions %}
    {% 
        set url_ver_pagoCursos = ea_url()
            .setController('App\\Controller\\Admin\\UserCrudController')
            .setAction('obtenerPagosUsuario')
    %}
    <a class="btn btn-success" href={{ url_ver_pagoCursos }}>Ver Informes de Pagos</a>
{% endblock %}

{% block main %}

    {# las class son de la libreria de DataTable: https://datatables.net/manual/ #}
    <table id="tablaCursos" class="nowrap hover row-border order-column">
        <thead>
            <tr>
                <td><strong>ID Curso</strong></td>
                <td><strong>Nombre</strong></td>
                <td><strong>Cuotas Totales</strong></td>
                <td><strong>Cuotas Declaradas</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                {% 
                    set url_new_pagoCurso = ea_url()
                        .setController('App\\Controller\\Admin\\PagoCrudController')
                        .setAction('obtenerIdCurso')
                        .set('idCurso', curso.id)
                %}
                <tr>
                    <td class="idCurso">{{ curso.id }}</td>
                    <td class="nombre">{{ curso.nombre }}</td>
                    <td class="totalCuotas">{{ curso.cantidadCuotas }}</td>
                    {# calculo cantidad de cuotas pagadas #}
                    {% set cantCuotasPagadas = 0 %}
                    {% for pago in curso.pagos %}
                        {% for pagoDetalle in pago.pagoDetalles %}
                            {% if pago.user.id == userId %}
                                {% set cantCuotasPagadas = (cantCuotasPagadas + pagoDetalle.cuotas|length) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <td class="cuotasPagadas">{{ cantCuotasPagadas }}</td>
                    {# fin calculo #}
                    <td>
                        {% if cantCuotasPagadas < curso.cantidadCuotas|number_format %}
                            <a class="btn btn-primary" href={{ url_new_pagoCurso }} >Denunciar Comprobante</a>
                        {% else %}
                            <span class="fw-bold text-success">Cuotas canceladas</span>
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            //preparo la vista para mobile sin dataTable
            if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || 
                navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || 
                navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) ||
                navigator.userAgent.match(/Windows Phone/i)
            ){
                $( "#tablaCursos" ).removeClass( "nowrap hover row-border order-column" ).addClass( "datagrid" );

                $( ".idCurso" ).text(function(index, element){
                    this.innerHTML = "<strong>ID: </strong>" + element;
                });
                $( ".nombre" ).text(function(index, element){
                    this.innerHTML = "<strong>Curso: </strong>" + element;
                });
                $( ".totalCuotas" ).text(function(index, element){
                    this.innerHTML = "<strong>Cuotas Totales: </strong>" + element;
                });
                $( ".cuotasPagadas" ).text(function(index, element){
                    this.innerHTML = "<strong>Cuotas Declaradas: </strong>" + element;
                });
            }else{
                //si no es mobile utilizo datatable para paginado y otras funciones
                $('#tablaCursos').DataTable({
                    searching: true,
                    language: {
                        search: "Buscar: ",
                        lengthMenu: "Ver _MENU_ registros",
                        info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        loadingRecords: "Cargando...",
                        paginate: {
                            first: "Inicio",
                            last: "Fin",
                            next: "Siguiente",
                            previous: "Anterior"
                        },
                    },
                    scrollY: true,
                });
            }
        });
    </script>
{% endblock body_javascript %}